* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 80%;
  height: 50vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fetchGreeting {
  width: 80%;
  display: flex;
  align-items: center;
}

.setGreeting {
  width: 80%;
  display: flex;
  align-items: center;
}

button {
  width: 200px;
  padding: 10px;
  margin: 8px;
}

input {
  width: 65%;
  padding: 8px;
  margin: 8px;
}

.greetingDisplayed {
  width: 65%;
  padding: 8px;
  margin: 8px;
}

.greetingHidden {
  display: none;
}